{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}
<h1>✨ About Ollivanders Exchange ✨</h1>
<hr />
<p class="page-content">
Welcome to Ollivanders Exchange! A place where very wizard finds their perfect match in wandlore and spellcraft. Inspired by the legendary wand shop of Diagon Alley, this exchange was created for witches and wizards to explore the ancient art of wandmaking, collect powerful wands, and master spells both old and new.

Here, each wizard begins their journey with a wand chosen just for them—because as every true wandmaker knows, “the wand chooses the wizard.” From there, wizards can discover and learn spells, growing in magical skill while forging their own unique path through the wizarding world.

Whether you’re a first-year still learning Lumos or a seasoned duelist trading secrets of powerful enchantments, Ollivanders Exchange is the place where magic lives, grows, and is shared.
</p>
{% endblock %}