{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/wizards/wizard-detail.css' %}" />
{% endblock %}

{% block content %}
<main> 
  <section class="wizard-container">

    
    <div class="wizard-details {{ wizard.house|lower }}">
      <h1>{{ wizard.name }}</h1>
      <p><img src="{{ wizard.image }}" alt="{{ wizard.name }}"/></p>
      <p>Date of Birth: {{ wizard.dateOfBirth }}</p>
      <p>House: {{ wizard.get_house_display }}</p>
      <p>Patronus: {{ wizard.patronus }}</p>
    </div>

   
    <div class="wand-container">
      <section class="wands">

   

        {% if wizard.wand_set.exists %}
          <table>
                 <h2>Wand</h2>
            <thead>
              <tr>
                <th>Wood</th>
                <th>Core</th>
                <th>Length</th>
                <th>edit</th>
                <th>delete</th>
              </tr>
            </thead>
            <tbody>
              {% for wand in wizard.wand_set.all %}
                <tr>
                  <td>{{ wand.get_wood_display }}</td>
                  <td>{{ wand.get_core_display }}</td>
                  <td>{{ wand.length }}"</td>
                  <td><div class="wand-actions">
                 <a href="{% url 'wand-update' wand.id %}" class="btn danger">edit</a>
                </div></td>
                  <td> <div class="wand-actions">
                 <a href="{% url 'wand-delete' wand.id %}" class="btn danger">Delete</a>
                </div></td>
                </tr>
              {% endfor %}
            </tbody>
        
          </table>
        {% else %}
          <div class="subsection-content">

            <h3>✨ No wand assigned yet! Add a Wand</h3>
            <form
              action="{% url 'add-wand' wizard.id %}"
              method="post"
              class="subsection-content"
              autocomplete="off"
            >
              {% csrf_token %} 
              {{ wand_form.as_p }}
              <button type="submit" class="btn submit">Add Wand</button>
            </form>
          </div>
        {% endif %}

      </section>
    </div>

  </section>
</main>
{% endblock %}