{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/wizards/wizard-index.css' %}"
/>
{% endblock %} {% block content %}

<section class="page-header">
  <h1>Wizards</h1>
</section>

<section class="card-container">
  {% for wizard in wizards %}
  <a href="{% url 'wizard-detail' wizard.id %}" class="card {{ wizard.get_house_display|lower }}">
    <div class="card-content">
      <h2 class="card-title">{{ wizard.name }}</h2>
      <img src="{{ wizard.image }}" alt="{{ wizard.name }}" class="wizard-image" />
      
    </div>
  </a>
  {% endfor %}
</section>

{% endblock %}
